.confirme-reserve {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    width: 35%;
    background-color: white;
    gap: 15px;
    border: 3px solid rgba(0, 0, 0, .6);
    border-radius: .6rem;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 980px) {
    .confirme-reserve  {
      width: 60%;
    }
}   

@media screen and (max-width: 480px) {
    .confirme-reserve  {
      width: 80%;
      padding: 1rem 2rem;
      gap: 5px;
    }
  }   