* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: #EEEEEE;
}

/* https://www.figma.com/file/KURR4HV9oRLiSkaVE8KiU7/Untitled?type=design&node-id=40%3A1022&mode=design&t=BuL2gDTEWl8AYCcB-1 */