.card-facility {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 70%;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 20px auto;
  gap: 10px;
  font-weight: bold;
}

.normal-font {
  font-weight: lighter;
}

.card-facility-header,
.card-facility-body,
.card-header-facility-type {
  display: flex;
  justify-content: space-between;
}

.card-header-facility-type p {
  margin-right: 10px;
}

.card-facility-icons {
  align-self: self-end;
}

.card-facility-icon {
  margin-right: 8px;
  cursor: pointer;
}

.card-facility-button {
 border: 1px solid;
 padding: 3px 10px;
 font-size: 0.8rem;
 cursor: pointer;
}