.options-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 10px auto;
    gap: 2rem;
    border-bottom: 1px solid black;
}

.options-area .filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 3px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    cursor: pointer;
    background: white;
}

.options-area .filter * {
    display: flex;
    background-color: transparent ;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.options-area .filter select {
    width: 90%;
} 

.options-area .filter select:focus {
    outline: none;
}

.date-input {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    opacity: 0;
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}