.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 7% auto;
}

.page-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 5rem;
}

.page-container .fixed-elements {
    position: sticky;
    top: 13%;
    width: 100%;
    background-color: #EEEEEE;
    padding: 0 5px; 
    padding-bottom: 5px;
}

.create-reservation-link {
    display: flex;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

.create-reservation-link div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1px 20px;
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    background-color: white;
}

.pages-filter-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages-filter-area .pages-filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pages-filter-area .pages-filter button {
    padding: 2px 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

.pages-filter-area .pages-filter button:hover {
    background-color: lightgray;
}

.pages-filter-area select {
    display: flex;
    width: 10%;
}