.page-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 8% auto;
}

.page-container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 5rem;
}

.create-reservation-link {
    width: fit-content;
    display: flex;
    margin: 10px 0;
    color: black;
    text-decoration: none;
}

.create-reservation-link div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1px 20px;
    border: 1px solid rgba(0, 0, 0, .6);
    border-radius: 5px;
    background-color: white;
}

.pages-filter-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pages-filter-area .pages-filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pages-filter-area .pages-filter button {
    padding: 2px 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

.pages-filter-area .pages-filter button:hover {
    background-color: lightgray;
}

.pages-filter-area select {
    display: flex;
    width: 10%;
}
.reservation-create-container{
    display: flex;
    flex-direction: row;
    margin: 10% 0;
    width: 100%;
}

.reservation-list{
    width: 50%;
}

.back-to-filters {
    width: fit-content;
    font-size: .8rem;
    padding: .3rem 2rem;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, .6);
    border-radius: 8px;
    cursor: pointer;
}


@media (max-width: 1600px) {
    .page-container {
        margin: 9% auto;
    }
}

@media (max-width: 1400px) {
    .page-container {
        margin: 11% auto;
    }
}

@media (max-width: 1150px) {
    .page-container {
        margin: 13% auto;
    }
}

@media (max-width: 980px) {
    .page-container {
        margin: 16% auto;
        width: 80%;    
    }
    .pages-filter-area select {
        width: 30%;
    }

    .reservation-create-container{
        flex-direction: column;
        width: 90%;
    }

    .reservation-list {
        width: 90%;
    }
}

@media (max-width: 790px) {
    .page-container-login {
        gap: 4rem;
    }

    .page-container {
        width: 85%;
        margin: 20% auto;
    }
}   

@media (max-width: 525px) {
    .page-container {
        margin: 25% auto;
    }
}

@media screen and (max-width: 480px) {
    .page-container-login {
        gap: 2rem;
    }

    .page-container {
        margin: 32% auto;
    }
}   

@media screen and (max-width: 400px) {
    .page-container {
        margin: 37% auto;
    }
}
