.normal-font {
  font-weight: lighter;
}

.read-facility {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  width: 35%;
  background-color: white;
  gap: 15px;
  border: 3px solid rgba(0, 0, 0, .6);
  border-radius: .6rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  flex-direction: row;
  gap: 8px
}

.list-item {
  padding-left: 8px;
  padding-top: 4px;
}