.card-user {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 20px auto;
  gap: 10px;
}

.card-user-header, .card-user-body, .card-header-user-type {
  display: flex;
  justify-content: space-between;
}

.card-header-user-type p {
  margin-right: 10px;
}