.form-create-facility {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    background-color: white;
    gap: .5rem;
}

.form-create-facility select {
    padding: 5px 10px;
}

.form-create-facility .filter-container {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.form-create-facility .filter-select {
    width: 100%;
    margin: 0;
}

.form-create-facility input[type="number"] {
    width: 15%;
    margin-left: 3px;
}

.form-create-facility .select-area {
    gap: 0;
    justify-content: space-between;
}

.error-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}